/*
Name: Alison Doan
File: hmw1.css
Date Created: 02/25/2026
Date Updated: 02/26/2027
Version: 1.07
Purpose: Style sheet for hmw1.html
*/
body 
{
  background-color: #f8f4ff;
  font-family: "Georgia", serif;
}

#header 
{
  text-align: center;
  background-color:#5b479a;
  font-family: "Rockwell", serif;
  color: #f8f4ff;
  padding: 20px;
}

.logo 
{
  width: 80px;
  height:auto;
  margin:0 auto;
}

table
{
  margin: auto;
  font-family: "Georgia", serif;
  color: #231f30;
  background-color: rgb(165,133,201);
  padding: 15px;
}

th
{
  color: #786b9e;
  font-family: "Rockwell", serif;
  margin: auto;
  padding: 10px;
}

#footer 
{
  text-align: center;
  font-family: "Georgia", serif;
  color: #f8f4ff;
  background-color: #5b479a;
  padding: 10px;
}

.slider
{
  width:100%;
}

input[name="submitbutton"]
{
  background-color: #5b479a;
  color: white;
}

input[name="resetbutton"]
{
  background-color: #5b479a;
  color: white;
}

a:visited
{
  color: blue;
}

a:hover
{
  color: purple;
}
