/*
Name: Alison Doan
File: hmw1.css
Date Created: 2026/02/25
Date Updated: 2026/02/25
Version: 1.0
Purpose: Style sheet for hmw1.html
*/
body {
  background-color: #f8f4ff;
  font-family: "Arial", sans-serif;
}
#header {
  text-align: center;
  background-color:#5b479a;
  color: white;
  padding: 20px;
}

.logo {
  width: 80px;
}
